name: Build MLflow Image

on:
  push:
    paths:
      - mlflow/Dockerfile

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push MLflow Image
        uses: docker/build-push-action@v5
        with:
          context: ./mlflow
          push: true
          tags: yourdockerhub/mlflow-mysql:2.9.2
